/*redes sociales*/
   .sharrre{
      margin:5px 0 0 5px;
      float:left;
      
   }
   .sharrre .box a:hover{
      text-decoration:none;
   }
   .sharrre .box a:link{
      text-decoration:none;
   }
   .sharrre .count {
      color:#525b67;
      display:block;
      font-size:12px;
      font-weight:bold;
      /*line-height:40px;*/
      height:20px;
      position:relative;
      text-align:center;
      width:50px;
      -webkit-border-radius:4px;
      -moz-border-radius:4px;
      border-radius:4px;
      border:1px solid #b2c6cc;
      background: #fbfbfb; /* Old browsers */
      background: -moz-linear-gradient(top, #fbfbfb 0%, #f6f6f6 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* IE10+ */
      background: linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
   }
   .sharrre .share {
      color:#FFFFFF;
      display:block;
      font-size:9px;
      font-weight:bold;
      height:20px;
      line-height:20px;
      margin-top:8px;
      padding:0;
      text-align:center;
      text-decoration:none;
      width:50px;
      -webkit-border-radius:4px;
      -moz-border-radius:4px;
      border-radius:4px; 
   }
   .sharrre .count:before, .sharrre .count:after {
      content:'';
      display:block;
      position:absolute;
      left:49%;
      width:0;
      height:0;
   }
   .sharrre .count:before {
      border:solid 7px transparent;
      border-top-color:#b2c6cc;
      margin-left:-7px;
      bottom: -14px;
   }
   .sharrre .count:after {
      border:solid 6px transparent;
      margin-left:-6px;
      bottom:-12px;
      border-top-color:#fbfbfb;
   }
   
   #twitter .share {
      text-shadow: 1px 0px 0px #0077be;
      filter: dropshadow(color=#0077be, offx=1, offy=0); 
      border:1px solid #0075c5;
      background: #26c3eb;
      background: -moz-linear-gradient(top, #26c3eb 0%, #26b3e6 50%, #00a2e1 51%, #0080d6 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26c3eb), color-stop(50%,#26b3e6), color-stop(51%,#00a2e1), color-stop(100%,#0080d6)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%); /* IE10+ */
      background: linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26c3eb', endColorstr='#0080d6',GradientType=0 ); /* IE6-9 */
      box-shadow: 0 1px 4px #DDDDDD, 0 1px 0 #5cd3f1 inset;
   }
   #facebook .share {
      text-shadow: 1px 0px 0px #26427e;
      filter: dropshadow(color=#26427e, offx=1, offy=0); 
      border:1px solid #24417c;
      background: #5582c9; /* Old browsers */
      background: -moz-linear-gradient(top, #5582c9 0%, #33539a 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5582c9), color-stop(100%,#33539a)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #5582c9 0%,#33539a 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #5582c9 0%,#33539a 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #5582c9 0%,#33539a 100%); /* IE10+ */
      background: linear-gradient(top, #5582c9 0%,#33539a 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5582c9', endColorstr='#33539a',GradientType=0 ); /* IE6-9 */
      box-shadow: 0 1px 4px #DDDDDD, 0 1px 0 #80a1d6 inset;
   }
   #googlePlus .share {
      text-shadow: 1px 0px 0px #222222;
      filter: dropshadow(color=#222222, offx=1, offy=0); 
      border:1px solid #262626;
      background: #6d6d6d; /* Old browsers */
      background: -moz-linear-gradient(top, #6d6d6d 0%, #434343 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d6d6d), color-stop(100%,#434343)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #6d6d6d 0%,#434343 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #6d6d6d 0%,#434343 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #6d6d6d 0%,#434343 100%); /* IE10+ */
      background: linear-gradient(top, #6d6d6d 0%,#434343 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#434343',GradientType=0 ); /* IE6-9 */
      box-shadow: 0 1px 4px #DDDDDD, 0 1px 0 #929292 inset;
   }  

   #pinterest .share{
      height:20px;
      border-color: #510000; 
      border-color: #910101; 
      background-color: #c83031; 
      background: -moz-linear-gradient(center top, #dd4b5d, #d5414b 50%, #d33d46 50%, #c83031); 
      background: -o-linear-gradient(top left, #dd4b5d, #d5414b 50%, #d33d46 50%, #c83031); 
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d5414b), to(#c83031), color-stop(.5,#d5414b),color-stop(.5,#d33d46)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b5d', endColorstr='#c83031');

      color: #fcf9f9; 
      text-shadow: 0 -1px rgba(34,25,25,0.5);            
   }
   

   .share
   {  
      border: 1px solid;   
      color: #ffffff;
      display: block;
      font-size: 9px;
      font-weight: bold;
      height: 20px;
      line-height: 20px;
      margin-top: 8px;
      padding-top: 0pt;
      padding-right: 0pt;
      padding-bottom: 0pt;
      padding-left: 0pt;
      text-align: center;
      width: 50px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      
   }